// Colors
$input_border_color: #00a2ff;
$input_border_color_invalid: #ff0000;
$input_border_color_valid: #00e400;
$input_shadow_color_focus: #00eeff;
$input_shadow_color_valid: #00ffaa;
$input_shadow_color_invalid: #aa0000;
$input_padding: 0.6rem 0.4rem;
$input_border: 2px solid;
$input_shadow_low: 0 2px 8px;
$input_shadow_high: 0 0 6px;

$body_background_color: #edf1f5;
$links_color: #00aaff;
